<p>
  <b>Title:</b>
  <%=h @notification.title %>
</p>

<p>
  <b>Message:</b>
  <%=h @notification.message %>
</p>

<p>
  <b>Priority:</b>
  <%=h @notification.priority %>
</p>


<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>